.vscode/
./libraries/PriceMath.sol

# Local Compiled files
bin/
artifacts/

node_modules/
typechain/
cache/
.certora_config/
.last_confs/

.certora_build.json
.certora_metadata.json
.certora_verify.json